html {
    font-size: 22px;
    color: black;
    background-color: white;
    opacity: 1;

}
img {
    height: auto;
    width: auto;
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    color:black;
}
.box{
    background-color: firebrick;
    color: white;
    width: 300px;
    margin: 100px 40px;
    padding: 20px;
    flex-wrap: nowrap;
    align-items: center;
    
}
.home{
    text-align: center;
}
.text h1 {
    text-align: center;
}

.img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    background-size: auto;
    color:black;
    margin: 40px auto 40px auto;
    display: flex;
}
.contact{
    text-align: center;
}
.boxes{
    display: flex;
    justify-content: space-between;
}
.pic{
    background-image: url(3.jpg);
    height: auto;
    max-width: 1200px;
    margin: auto;
}
#about{
    text-align: justify;
  text-justify: inter-word;
  margin: 20px;
}
.text li h2{

    color: firebrick;
}